@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700');

body {
  margin: 0;
  font-family: 'Roboto',sans-serif;
  background-color:#303030;
  height: 100%;
}

* {-webkit-font-smoothing: antialiased;}

.email {
  margin: 0;
  font-size:1.3em;
  font-weight: 500;
  font-style: italic;
  color: rgba(255, 255, 255, 0.7);
}

.titles {
  font-weight: 500;
  font-size: 2.0em;
  margin: 2em auto 1.5em auto;
  color: #FFFFFF;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
  color: rgba(255, 255, 255, 0.8);
}

nav {
  justify-content: space-between;
  right: 0px;
  padding-top: 2em;
  padding-right: 6em;
  background-color: #303030;
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 3em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul {
  overflow: hidden;
  display:block;
  width: auto;
  background: none;
  height: auto;
  display: flex;
  float: right;
}

nav ul li {
  float: left;
}

nav ul li a {
  text-align: right;
  width: 100%;
  padding: 0 2em;
  text-decoration: none;
  font-size: 1.1em;
  color: rgba(255,255,255,0.7);
}

nav ul li a:hover {
  color: #FFFFFF
}

h1 {
  font-size: 3em;
  color: #FFFFFF;
  margin-bottom: 0.1em;
  margin-top: 2em;
}

.container {
  text-align: center;
}

section {
  background-color: #424242;
  margin: 0;
  padding: 3em 2em 5em 2em;
}

.show-desktop {
  display: block;
  margin: auto;
}

.hide-desktop {
  display: none;
}

.scroll-prompt {
  margin: 15em;
  text-align: center;
  animation: move 3s infinite ease;
}

.scroll {
  width: 100px;
  height: 100px;
}

@keyframes move {
  0%, 10%{
    transform: translateY(0em);
    opacity: 0;
  }
  30% {
    transform: translateY(0em);
    opacity: 1;
  }
  70% {
    transform: translateY(3em);
    opacity: 1;
  }

  90%,100% {
    transform: translateY(3em);
    opacity: 0;
  }
}

.grey-container {
  margin: 5% 15%;
  padding: 2em;
  border-radius: 30px;
  background-color: #424242;
}

.about-me {
  margin-bottom: 2em;
}

.experience {
  margin-bottom: -1em;
}

h2 {
  color: #FFFFFF;
}
h3 {
  color: #FFFFFF;
  font-weight: 500;
}

.job-title {
  font-style: italic;
  margin-bottom: 2em;
}

ul.work{
  list-style-type: square;
  margin-left: 3em;
}

ul.work li{
  font-size: 1em;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.7em;
  margin-top: -1.5em;
}

ul.workplace li {
  margin-bottom: 2.5em;
}

.footer-container {
  margin-bottom: 5em;
}

#linkedin,#github{
  fill: #FFFFFF;
}


#linkedin:hover,#github:hover{
  fill: orange;
}

.reference {
  margin: 1em;
}

.reference a {
  
  color:white;
  text-decoration: none;
}

.reference a:hover {
  
  color:orange;
  text-decoration: underline;
}

.find-me {
  font-style: italic;
  font-weight: 500;
}



@media only screen and (max-height: 720px), only screen and (max-width: 1366px) {
  h1 {
    font-size: 2em;
  }
  .email {
    margin: 0;
    font-size: 1em;
  }
  .titles {
    font-size: 1.5em;
  }
  nav {
    padding-top: 1.5em;
    padding-right: 4em;
  }
  nav ul li a {
    padding: 1em 2em;
    font-size: 0.9em;
    color: rgba(255,255,255,0.7);
  }
  .web {
    width: 5em;
  }
  section {
    background-color: #424242;
    margin: 0;
    padding: 3em 2em 2em 2em;
  }

  .scroll-prompt {
    margin: 9em 0;
  }

  .scroll {
    width: 75px;
    height: 75px;
  }

  p {
    font-size: 1em;
  }
  ul.work li{
    font-size: 0.9em;
  }
}

@media only screen and (max-height: 1000px) {
  .scroll-prompt {
    margin-top: 15em;
    margin-bottom: 10em;
  }
}


@media only screen and (max-height: 700px) {
  .scroll-prompt {
    margin: 10em 0;
  }
}


@media only screen and (max-height: 600px) {
  .scroll-prompt {
    margin: 7em 0;
  }
}

@media only screen and (max-width: 600px) {

  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block;
  }

  .menu {
    fill: rgba(255, 255, 255, 0.8);
    top: 2em;
    right: 2em;
    position: fixed;
    width: 25px;
    margin-top: 0;
    float: right;
    margin-right: 0;
  }

  nav {
    position: fixed;
    width: 60%;
    height: 100%;
    z-index: 8;
    padding-top: 2em;
    padding: 0;
    background: #212121;
    bottom: 0;
  }

  .exit-btn {
    margin: 0;
    text-align: right;
    width: 100%;
  }

  .exit-btn img{
      width: 15px;
      cursor: pointer;
      margin: 2em 2em;
  }

  nav ul {
    float: left;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    display: block;
    background: #212121;
    text-align: left;
    font-size: 1.2em;
  }

  nav ul li a:hover {
    background: #616161;
  }
  .grey-container {
    margin: 5% 5%;
    padding: 2em;
    border-radius: 20px;
    background-color: #424242;
  }
  
}
