.grey-container {
  margin: 5% 15%;
  padding: 2em 2em 1.5em 2em;
  border-radius: 30px;
  background-color: #424242;
}

.carousel .carousel-indicators li {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.25);
}
  
.carousel .carousel-indicators .active {
    background-color: #444;
}

.carousel .carousel-caption {
    background-color: #fff;
    background-color: rgba(70, 70, 70, 0.3);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

ul.work{
    list-style-type: square;
    margin-left: 3em;
  }
  
ul.work li{
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.7em;
    margin-top: auto;
}